@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.container {
    width:100%;
    margin:40px;
}

.tagContainer {
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}


.genre__active {
    color: white;
    background-color: darkblue;
}

