.modal {
    height: 100vh;
    width: 100vw;
    /*background-color: rgba(0, 0, 0, 0.4);*/
   background-color: rgb(20 20 20);
    /*background-color: #e50914;*/
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    z-index: 50;
}

.modal.active {
    opacity: 0.95;
    pointer-events: all;
}

.modalContent {
    width: 40vw;
    height: 80vw;
    padding: 20px;
    /*border-radius: 12px;*/
    background-color: #ffffff;
    transform: scale(0.5);
    transition: 0.5s;
}

.modalContent.active {
    transform: scale(1);
    transition: 0.4s all;
}