.navbar {
    background-color: black;
    height: 50px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
}