* {
    scroll-behavior: smooth;
}



*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

img {
    vertical-align: top;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
body {

}

.wrapper {
    /*min-height: 100%;*/
    display: flex;
    flex-direction: column;
}

.main {
    min-height: 100vh;
    background-color: rgb(20 20 20);
    color: white;
    padding: 70px;
    flex:1 1 auto
}

.pageTitle {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    padding: 4px;
    border-radius: 50px;
    color: white;
}

@media (max-width: 1000px) {
    .pageTitle {
        font-size: 6.4vw;
    }
}

.tagSelected {
    background-color: darkblue;
}